<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Catagory</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="/css/signUp.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body style="background-color: #BEFFF7;">
    <div class="wrapper">
        <div class="container">
            <div class="card card-primary" id="addItemsCard">
                <div class="card-header">
                </div>
            <form action="/addCatogary" method="post">
                <div class="card-body">
                  <label for="exampleInputFile">Type catagory</label>
                  <div class="inputbox" >
                    <input type="text" name="Catagory" placeholder="Category name">
  <span>Type category name</span>
                  </div>  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Add Catagory</button>
                </div>
              </form>
        </div>
    </div>
    </div>
</body>
</html>