<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<link rel="stylesheet" href="/css/signUp.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body>
    <body class="login-page" style="min-height: 0px;">
        <div class="login-box">
          <div class="login-logo">
            <a href="#"><b>Admin</b>LTE</a>
          </div>
          <!-- /.login-logo -->
          <div class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
        
              <form action="/sendMail" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" name="email">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
        
              <p class="mt-3 mb-1">
                <a href="/">Login</a>
              </p>
              <p class="mb-0">
                <a href="/signUp" class="text-center">Register a new membership</a>
              </p>
            </div>
          </div>
        </div>
        </body>
</body>
</html>