<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp Verificaction</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/otp.css" type="text/css">
<body>
    <div class="wrapper">
        <div class="container">
         <header>
            <i class="bx bxs-check-sheild"></i>
         </header>  
         <h4>Enter OTP Code</h4>
         <form action="/otpVerification" method="post">
            <div class="input-field" >
                <input type="number" name="otp" value="otp">
                <input type="number" name="otp" value="otp">
                <input type="number" name="otp" value="otp">
                <input type="number" name="otp" value="otp">
            </div>
            <button class="active">Verify OTP</button>
         </form> 
        </div>
    </div>
</body>
</html>